.TemplatesList {
  margin: 100px 15% 60px 15%;
  border: 1px solid #222222;
  border-radius: 5px;
  padding: 30px 50px;
}

.TemplatesList h1 {
  font-size: 1.6rem;
  font-weight: 400;
}

.TemplatesListItems {
  display: flex;
  justify-content: space-between;
}
