.MemeGenerator {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
}

.MemeGenerator h1 {
  margin-top: 2px;
  font-weight: 400;
  font-size: 2.1rem;
}

.MemeGeneratorForm {
  width: 30%;
}

.MemeGeneratorForm button {
  display: flex;
  margin-left: auto;
  border: 1px solid #222222;
  color: #111111;
  padding: 9px 30px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 35px;
  background: #ffffff;
}

.MemeGeneratorForm form {
  display: flex;
  flex-direction: column;
}

.MemeGeneratorForm form label {
  font-weight: 700;
  font-size: 1rem;
  color: #333333;
  margin-bottom: 8px;
}

.MemeGeneratorForm form input {
  border-radius: 3px;
}

.MemeGeneratorForm form input[type="text"] {
  margin-bottom: 22px;
  padding: 7px 10px;
  font-size: 1rem;
  border: 1px solid #212121;
}

.MemeGeneratorForm form input[type="button"] {
  border: none;
  background: #212121;
  color: #fb6202;
  font-weight: bold;
  padding: 12px 16px;
  font-size: 1.1rem;
}
