.HomeHero {
  width: 70%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.HomeHero > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ImageDiv img {
  border-radius: 5px;
}

.ContentDiv {
  align-items: flex-end;
}

.ContentDiv h1 {
  color: #222222;
  text-align: right;
  font-size: 3.25rem;
  margin-bottom: 110px;
}

.ContentDiv span {
  font-family: "Salsa", cursive;
  color: #dd0006;
}

.ContentDiv a {
  width: 300px;
  padding: 15px 20px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  background: #dd0006;
  color: #ffffff;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  .HomeHero {
    width: 80%;
    margin: 40px auto;
  }

  .ImageDiv img {
    height: 380px;
    width: 380px;
  }

  .ContentDiv {
    align-items: center;
  }

  .ContentDiv h1 {
    margin-top: 30px;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 920px) {
  .HomeHero > div {
    margin: auto;
  }

  .ContentDiv h1 {
    text-align: center;
  }
}
