.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: #333333;
}

@media only screen and (max-width: 850px) {
  .Footer {
    padding: 15px 10%;
    justify-content: center;
  }
}
