body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input[type="button"] {
  cursor: pointer;
}

img {
  background: #dddddd;
}

main {
  padding-bottom: 80px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
