.Memes {
  text-align: center;
  margin: auto;
  width: 80%;
}

.Memes h1 {
  margin: 60px 0 50px 0;
}

.MemesItems {
  display: grid;
  border-radius: 5px;
  border: 1px solid #222222;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  gap: 1em;
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
}
