.Memes {
  text-align: center;
  margin: 0 15%;
}

.Memes h1 {
  margin: 60px 0 50px 0;
}

.MemesItems {
  display: grid;
  border-radius: 5px;
  border: 1px solid #222222;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
}
