.NavLinks {
  display: flex;
}

.NavLinks ul {
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.NavLinks ul li:first-child {
  margin-left: 0;
}

.NavLinks ul li {
  margin-left: 40px;
}

.NavLinks ul li a {
  text-decoration: none;
  color: #333333;
}

.NavLinks ul li a:hover {
  color: #fb6202;
}

.NavLinks.dark ul li a {
  color: #ffffff !important;
  font-weight: 400 !important;
}

.CreateAMemeButton {
  padding: 9px 20px;
  border: 2px solid #fb6202;
  font-weight: bold;
  border-radius: 20px;
}

.CreateAMemeButton:hover {
  background: #fb6202;
  transition: 0.3s;
}

.NavLinks:not(.dark) .activeLink {
  border-bottom: 2px solid #fb6202;
  font-weight: 700;
}

@media only screen and (max-width: 850px) {
  .NavLinks:not(.dark) {
    height: 20px;
    margin-bottom: 30px;
  }

  .NavLinks.dark {
    width: 100%;
  }

  .NavLinks.dark ul {
    justify-content: space-between;
    width: 100%;
  }

  .NavLinks ul li {
    margin-left: unset;
    padding: 5px 11px;
  }

  .CreateAMemeButton {
    padding: 0;
    border: 0;
    border-radius: 0;
    font-weight: 400;
  }

  .CreateAMemeButton:hover {
    background: unset;
    color: #fb6202;
    transition: unset;
  }

  .NavLinks:not(.dark) .activeCreateAMemeButton {
    border-bottom: 2px solid #fb6202;
    font-weight: 700;
  }
}
